.button {
    background: var(--color-secondary);
    color: var(--color-on-secondary);
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
    border-radius: var(--radius-round);
    cursor: pointer;
    transition: var(--transition-fast);
    min-width: 10rem;
}

.button--primary {
    background: var(--color-primary-surface);
    color: var(--color-on-primary);
}

.button--small {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
}

.button--tiny {
    min-width: 2rem;
    padding: 0.6rem 1.4rem;
    font-size: 1.2rem;
}

.button--sort {
    position: relative;
    padding-right: 2.4rem;
}

.button--sort::after,
.button--sort::before {
    content: '';
    width: 0.5em;
    height: 0.3em;
    background: var(--color-on-secondary);
    opacity: 0.2;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    right: 0.8em;
    top: 50%;

    transform-origin: center center;
}

.button--sort::before {
    transform: translateY(20%);
}

.button--sort::after {
    transform: translateY(-120%) rotate(180deg);
}

.button--current {
    box-shadow: inset 0 0 0 0.1rem var(--color-on-secondary);
}

.button--current[data-sort-direction='asc']::after {
    opacity: 1;
}

.button--current[data-sort-direction='desc']::before {
    opacity: 1;
}

.button:hover {
    transform: var(--hover-scale);
}

.button:active {
    transform: scale(0.98);
}
