.l-wrapper {
    padding: 2rem 1.6rem;
    max-width: 60rem;
    margin: 0 auto;
}

.l-mode-toggle {
    position: absolute;
    padding: 2rem;
    right: 0;
}

.l-toolbar {
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.8rem 0;
    padding-top: 2.4rem;
}

.l-button-row {
    display: flex;
    gap: 1.6rem;
    padding-top: 2.8rem;
}

.l-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 1.8rem;
}

.l-form__row {
    display: flex;
    gap: 1.6rem;
}

.l-form__row > * {
    flex-grow: 1;
    width: 100%;
}
