.toggle {
    --toggle-height: 3.2rem;
    --toggle-width: 5.6rem;
    --toggle-padding: 0.4rem;
    --toggle-button-size: calc(var(--toggle-height) - (2 * var(--toggle-padding)));

    display: flex;
}

.toggle--tiny {
    --toggle-height: 1.6rem;
    --toggle-width: 2.8rem;
    --toggle-padding: 0.2rem;
    --toggle-button-size: calc(var(--toggle-height) - (2 * var(--toggle-padding)));
}

.toggle input {
    position: absolute;
    visibility: hidden;
}

.toggle label {
    position: relative;
    display: inline-block;
    background: var(--color-secondary);
    color: var(--color-on-secondary);
    font-size: 0.8rem;
    height: var(--toggle-height);
    width: var(--toggle-width);
    border-radius: var(--radius-round);
    cursor: pointer;
    transition: var(--transition-medium);
}

.toggle label::after {
    content: '';
    position: absolute;
    aspect-ratio: 1;
    height: var(--toggle-button-size);
    background: var(--color-primary-surface);
    border-radius: var(--radius-round);
    top: var(--toggle-padding);
    left: 0;
    transform: translateX(var(--toggle-padding));
    transition: var(--transition-medium);
}
/*
.toggle label::before {
    content: attr(data-unchecked);
    color: var(--color-on-surface-light);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 1.4rem);
}
*/
.toggle input:checked + label::after {
    transform: translateX(
        calc(var(--toggle-width) - var(--toggle-button-size) - var(--toggle-padding))
    );
}
/*
.toggle input:checked + label::before {
    content: attr(data-checked);
}
*/
.toggle--colormode {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.toggle--colormode::before,
.toggle--colormode::after {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.toggle--colormode::before {
    background: var(--color-light-surface);
    border: 1px solid var(--color-light-on-surface-light);
}

.toggle--colormode::after {
    background: var(--color-dark-surface);
    border: 1px solid var(--color-dark-on-surface-light);
}

.toggle--checkbox input:checked + label {
    background: var(--color-success);
}

.toggle--checkbox label::after {
    background: var(--color-white);
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.toggle-wrapper > label {
    font-size: 1.4rem;
}
