:root {
    /* colors light */
    --color-light-surface: white;
    --color-light-on-surface: #1a1a1a;
    --color-light-on-surface-light: #585858;

    --color-light-primary-surface: #1157b9;
    --color-light-primary-text: #1157b9;
    --color-light-on-primary: white;

    --color-light-secondary: #eaeaea;
    --color-light-secondary-light: #f8f8f8;
    --color-light-on-secondary: black;

    --color-light-border: #dbdbdb;

    --color-light-danger: red;
    --color-light-success: #16bd16;

    /* colors dark */
    --color-dark-surface: black;
    --color-dark-on-surface: #f4f4f4;
    --color-dark-on-surface-light: #bcbcbc;

    --color-dark-primary-surface: #6a00db;
    --color-dark-primary-text: #ae6af6;
    --color-dark-on-primary: #ffffff;

    --color-dark-secondary: #2d2d2d;
    --color-dark-secondary-light: #151515;
    --color-dark-on-secondary: white;

    --color-dark-border: #404040;

    --color-dark-danger: red;
    --color-dark-success: #098e09;

    /* colors always */
    --color-white: white;

    /* transition */
    --transition-fast: all 0.1s ease;
    --transition-medium: all 0.3s ease;
    --transition-slow: all 1s ease;

    /* radius */
    --radius-small: 0.4rem;
    --radius-round: 10rem;

    /* scale */
    --hover-scale: scale(1.06);
}

body {
    --color-surface: var(--color-light-surface);
    --color-on-surface: var(--color-light-on-surface);
    --color-on-surface-light: var(--color-light-on-surface-light);
    --color-primary-surface: var(--color-light-primary-surface);
    --color-primary-text: var(--color-light-primary-text);
    --color-on-primary: var(--color-light-on-primary);
    --color-secondary: var(--color-light-secondary);
    --color-secondary-light: var(--color-light-secondary-light);
    --color-on-secondary: var(--color-light-on-secondary);
    --color-border: var(--color-light-border);
    --color-danger: var(--color-light-danger);
    --color-success: var(--color-light-success);
}

body.darkmode {
    --color-surface: var(--color-dark-surface);
    --color-on-surface: var(--color-dark-on-surface);
    --color-on-surface-light: var(--color-dark-on-surface-light);
    --color-primary-surface: var(--color-dark-primary-surface);
    --color-primary-text: var(--color-dark-primary-text);
    --color-on-primary: var(--color-dark-on-primary);
    --color-secondary: var(--color-dark-secondary);
    --color-secondary-light: var(--color-dark-secondary-light);
    --color-on-secondary: var(--color-dark-on-secondary);
    --color-border: var(--color-dark-border);
    --color-danger: var(--color-dark-danger);
    --color-success: var(--color-dark-success);
}
