/* todo list item */
.todo-item {
    display: flex;
    gap: 1rem;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--color-border);
}

.todo-item__bullet {
    flex-grow: 0;
    padding-top: 0.15rem;
}

.todo-item__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0.2rem;
    gap: 0.2rem;
}

.todo-item__description {
    display: flex;
    gap: 0.2rem;
    font-size: 1.6rem;
    line-height: 1.4;
}

.todo-item__prio {
    color: var(--color-primary-surface);
}

.todo-item__due-date {
    font-size: 1.4rem;
    color: var(--color-on-surface-light);
}

.todo-item__due-date--warning {
    color: var(--color-danger);
}

.todo-item__text {
    font-size: 1.4rem;
    color: var(--color-on-surface-light);
    line-height: 1.3;
}

.todo-item__action {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    opacity: 0;
    transition: var(--transition-fast);
}

.todo-item:hover .todo-item__action {
    opacity: 1;
}
/* not yet working in firefox */
.todo-item:has(:focus) .todo-item__action {
    opacity: 1;
}

.todo-list .todo-item[data-completed='true'] {
    display: none;
}

.todo-list--show-completed .todo-item[data-completed='true'] {
    display: flex;
}

/* bullet */
.bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-on-surface-light);
    border-radius: 50%;
    width: 2rem;
    aspect-ratio: 1;
    transition: var(--transition-fast);
    cursor: pointer;
    background: none;
}

.bullet::after {
    content: '';
    width: calc(100% - 6px);
    aspect-ratio: 1;
    background: var(--color-primary-surface);
    opacity: 0;
    border-radius: 50%;
}

.bullet:hover {
    transform: scale(1.02);
    border-color: var(--color-primary-surface);
}

.bullet--completed {
    border-color: var(--color-primary-surface);
}

.bullet--completed::after {
    opacity: 1;
}

/* empty state */
.todo-list__empty {
    background: var(--color-secondary-light);
    color: var(--color-on-secondary);
    margin: 4rem;
    padding: 1.6rem;
    border-radius: var(--radius-small);
    text-align: center;
    font-size: 1.4rem;
}
